/* Estilos personalizados */

:root {
    --colorText: #333;
    --colorHtext:#2e8b57;
    --colorbgBody: #fefefc;
    --colorGold:#bc9447;
    --bodyFontFamily: 'Quicksand', sans-serif;
}

body {
    font-family: var(--bodyFontFamily);
    background-color: var(--colorbgBody);
    color: var(--colorText);
}

h1,
h2,
h3 {
    color: var(--colorHtext); /* verde natural */
    font-weight: 700;
}
/* Estilos para el logo en el header ; */
header.bg-light {
    background-color: #9fbfa9; 
}


header .col-md-3 .logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 1px 0;
    border-radius: 50%; 
    border: 2px solid white; 
    border: 2px solid var();  
    box-sizing: border-box; 
    padding: 5px; 
}


header {
    padding-top: 5px;  
    padding-bottom: 5px; 
}

p ,li{
    text-align: justify; 
}
/* Estilos para la navegación */
.nav {
   
    padding: 10px 0;
    border-radius: 10px;
}

/* Estilos para los enlaces */
.nav-link {
    background: var(--colorGold);
    color: white !important; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase; 
    padding: 10px 15px;
    margin: 15px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out; 
}

/* Efecto al pasar el mouse */
.nav-link:hover {
    background: #2e8b57; 
    color: white !important;
    transform: scale(1.1); 
}

/* Efecto al hacer clic */
.nav-link:active {
    transform: scale(0.95);
}

.bienvenida{
 
    border-radius: 10px;
    color: white;
     text-shadow: 
    -0.30px -0.30px 0 rgba(255, 255, 255, 0.5),
     0.30px -0.30px 0 rgba(255, 255, 255, 0.5),
    -0.30px  0.30px 0 rgba(255, 255, 255, 0.5),
     0.30px  0.30px 0 rgba(255, 255, 255, 0.5);
  }


.hero {
    background-image: url('../img/salon3.JPG'); 
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    overflow: hidden;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff; 
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.19); 
}

.hero-content {
    position: relative;
    z-index: 1;
    text-align: center;
}

.card-title {
    color: #2e8b57; 
}

.card-description {
    color: #2e8b57 
}
.servicios {
    background-color: #f9f9f9; 
}

.servicio {
    text-align: center;
    padding: 20px;
    border: 1px solid #e0e0e0; 
    border-radius: 5px;
}

.servicio img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.contacto {
    background-color: #f0f8f0;
}
.whatsapp{
    background-color: #25D366;
    color: white;
}
.instagram {
    background: linear-gradient(45deg, #833AB4, #E1306C, #FD1D1D, #FCAF45);
    color: white; 
}

/* WhatsApp */
.whatsapp:hover {
    background-color: #28e16c !important; 
    color: white !important;
}

.instagram:hover {
    background: linear-gradient(25deg, #833AB4, #E1306C, #FD1D1D, #FCAF45) !important; /* Mantiene el degradado */
    color: white !important;
}

/* Estilos para el mapa */

.map-container {
    width: 100%;
    margin-bottom: 20px;
}

.map-container iframe {
    width: 100%;
    height: 300px; 
    border: 0;
}

.formulario {
    margin-top: 20px;
}

.btn-primary {
    background-color: var(--colorHtext);
    border-color: var(--colorHtext);
    color: #fff;
}

.btn-success {
    background-color: #ffd700; 
    border-color: #ffd700;
    color: #333;
}

.btn-secondary {
    background-color: #a9a9a9; 
    border-color: #a9a9a9;
    color: #fff;
}

.upAnchor {
    display: flex;
    position: fixed;
    bottom: 80px;
    right: 55px;
    z-index: 9999;
    border-radius: 15px;
}

.bi-arrow-up-circle{
    fill: var(--colorGold);
}

footer {
    background-color: #2e8b57; 
    color: #fff;
    text-align: center;
    padding: 10px;
}